@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root{
    --background: #000000;
    --red: #C20000;
    --blue: #001F70;
    --bgnews: #1E1C21;
    --gradient: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);

    --font: 'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    font-family: var(--font);
    font-size: 16px;
}
img{
    width: 100%;
}
.header-top{
    /* background-color: lightblue; */
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
}

.topo{
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.content{
    /* background-color: aqua; */
    width: 95%;
    height: 100%;
    margin: auto;
    /* background-color: aliceblue; */
}
.flex-spbt-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-spar-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-top img{
    max-width: 21.18em;
}
.menu{
    width: 100%;
    max-width: 50em;
}
.menu ul{
    list-style-type: none;

}
.menu a{
    color:#fff;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 0.9em 0.66em;
}
.menu a:hover{
    color: var(--red);
    text-shadow: 0 0 20px #fff;
}
.menu-bars{
    display: none;
}
/* Banner */
.banner{
    height: 500px;
    background-image: url("../img/Banner1920.jpg");
    background-size: cover;
    /* background-color: red; */
}

.banner-container{
    width: 100%;
    height: 100%;
    /* background-color: rgba(127, 255, 232, 0.39); */
    top: 0;
}

.banner-content{
    width: 80%;
    height: 100%;
    /* background-color: rgba(255, 235, 205, 0.384); */
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.banner-text{
    width: 50%;
    height: 100%;
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.banner-text h1{
    font-size: 4.8em;
}

.banner-text p{
    font-size: 1.87em;
}

.banner-text a{
    color: #fff;
    font-size: 1.87em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--red);
    padding: 0.5em 1.2em;
    border-radius: 0.75em;
    margin-top: 2em;
}

/* games */
.games{
    width: 100%;
    height: 7.5em;
    /* background-color: yellow; */
}

.games ul{
    width: 100%;
    /* background-color: red; */
    list-style-type: none;
}

.games img{
    width: 10.625em;
}

.games ul a:hover img{
    transition: 0.5s;
    transform: scale(1.5);
}

/* about */
.about{
    height: 31.25em;
    background-color: var(--blue);
    position: relative;
}

.about-angulation{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.angulation{
    height: 24.125em;
    width: 100%;
    background-color: var(--background);
    transform: skewY(-4deg);
}

.container-about{
    color: white;
    position: absolute;
    top: 0;
}

.content-about{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-about{
    width: 50%;
    text-align: justify;
}

.text-about h2{
    margin-bottom: 1em;
    font-size: 2.1875em;
}

.text-about p{
    font-size: 1.3em;
}

.content-about img{
    max-width: 31.875em;
}

/* Partidas */
.games-aovivo, .games-embreve{
    width: auto;
    display: flex;
    align-items: center;
    /* background-color: blue; */
    justify-content: flex-start;
    font-size: 1.875em;
}

.games-aovivo h2, .games-embreve h2{
    color: #fff;
    font-size: 0.9em;
    margin-right: 1em;
}

.partida{
    display: flex;
    align-items: center;
    /* margin-right: 2.5em; */
}

.partida p{
    color: #fff;
    font-size: 0.7em;
}

.partida img{
    width: 3em;
}

.time1, .time2{
    display: flex;
    align-items: center;
}

.time1 p, .time2 p{
    color: #fff;
}

.time2 p{
    margin-right: 1em;
}

.time1 img{
    margin-left: 0.5em;
}

.time2 img{
    margin-right: 0.5em;
}


.divisao{
    content: '';
    border: solid 1px #fff;
    height: 5em;
}



/* notícias */
.bg-news{
    width: 100%;
    height: auto;
    background-color: var(--bgnews);
}
.news{
    width: 70%;
    height: 90%;
}
.news h2, .next-games h2{
    color: #fff;
    margin: 1em 0em;
    font-size: 2.1875em;
}

.next-games{
    width: 25%;
    height: 90%;
}

.content-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cardnews{
    width: 15em;
    height: 22.5em;
    background: var(--gradient);
    color: #fff;
    margin-bottom: 2em;
    box-shadow: 0px 0px 10px rgb(97, 97, 97), 0px 0px 30px rgb(0, 0, 0);
}

.cardnews h3{
    padding: 0.5em 0.6em;
}

.cardnews p{
    padding: 0em 0.6em;
}

.next-games-bg{
    width: 90%;
    height: auto;
    background: var(--gradient);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2.4em 0;
}

.next-games-match{
    width: 100%;
    height: 6.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    color: #fff;
}

.teams{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.next-games-match div{
    display: flex;
    align-items: center;
}

.next-games-match img{
    max-width: 4em;
}

.next-games-match > p{
    margin-top: 0.1em;
}

.links-footer{
    display: flex;
    justify-content: space-around;
    width: 33%;
}

.links{
    color: white;
}

.links a {
    text-decoration: none;
    color: white;
}

.rodape{
    padding: 1em;
}

.logo-rodape{
    width: 19.06em;
}

.sociais h2{
    color: white;
}

.sociais > h2{
    font-size: 0.875em;
    margin-bottom: 0.5em;
}

.sociais form{
    display: flex;
    margin-bottom: 0.5em;
}

.sociais input[type="email"]{
    height: 2.3125em;
    width: 12.1875em;
}

.sociais input[type="email"]::placeholder{
    font-size: 1em;
    color: #B8b3b3;
    font-weight: bold;
    padding-left: 0.3em;
}

.sociais input[type="submit"]{
    width: 9.75em;
    color: white;
    background-color: #8326ef;
    font-size: 1.1em;
}

.siga-nos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
    /* background-color: red; */
}

.siga-nos img{
    max-width: 3em;
}

/* Até 1199px */
@media screen and (max-width: 74.93em){

body{
    font-size: 13px;
}
.banner{
    height: 450px;
    background-image: url("../img/Banner1440.jpg");
    background-size: cover;
    /* background-color: red; */
}

.cardnews{
    width: 16em;
}

.sociais > h2{
    font-size: 1.1em;
}

}
/* Até 991px */
@media screen and (max-width: 61.93em){

body{
    font-size: 10px;
}

.banner{
    height: 450px;
    background-image: url("../img/Banner768.jpg");
    background-size: cover;
    /* background-color: red; */
}


.text-about p{
    font-size: 1.38em;
}
.news{
    width: 60%;
}
.content-news{
    
}

.cardnews{
    width: 20em;
    height: 26.8em;
}

.cardnews p{
    font-size: 1.2em;
}

.next-games{
    width: 35%;
}

.next-games-bg{
    height: 70em;
}

.next-games-match > p{
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.teams{
    font-size: 1.5em;
}

}

/* até 767px */
@media screen and (max-width: 47.93em){

body{
    font-size: 7px;
}

.topo{
    width: 100%;
}

.topo img{
    margin-left: 3em;
}

.banner{
    height: 350px;
    background-image: url("../img/Banner768.jpg");
    background-size: cover;
    background-position: cover;
    /* background-color: red; */
}

.menu{
    width: 100%;
    /* background-color: royalblue; */
}

.menu-bars{
    display: flex;
    margin-right: 2em;
}

.menu{
    width: 100%;
    margin: 0px;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
}

#meus-links{
    width: 100%;
    top: 35px;
    flex-direction: column;
    position: absolute;
    display: flex;
    justify-content: space-around;
    height: 17em;
    background-color: #000000;
}

#meus-links ul{
    margin-right: 40px;
}

#meus-links a{
    font-size: 1.5em;
    padding: 0px;
}

.mobile{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.news{
    width: 100%;
}

.content-news{
    height: 70em;
    display: flex;
    flex-direction: column;
}

.cardnews{
    width: 24em;
    height: 32em;
}

.cardnews h3{
    padding: 0.2em 0.3em;
    font-size: 1.7em;
}

.cardnews p{
    padding: 0em 0.6em;
    font-size: 1.5em;
}

.next-games{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.next-games-bg{
    height: 60em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.next-games-match{
    width: 45%;
    margin-top: 4em;
}

.teams{
    font-size: 2em;
}

.rodape{
    font-size: 1.5em;
}

.links-footer{
    width: 100%;
    /* background-color: red; */
}

.logo-rodape{
    position: relative;
}
.rodape-mobile{
    display: flex;
    flex-wrap: wrap;
}

.sociais{
    margin-top: 2em;
}

.sociais input[type="email"]{
    height: 1.5em;
    width: 6em;
}

}
/* Até 576px */
@media screen and (max-width: 36em){


    
}